{% extends "base.html" %}
{% load i18n %}
{% load form_tags %}

{% block title %}{{ block.super }} | Dashboard{% endblock %}


{% block content %}

    <script type="text/javascript">
        $(function() {
{#            ajaxPost('{% url 'ajax_test' %}', {'foo': 'bar'}, function(content){#}
{#                //onSuccess#}
{#                $('body').html(content);#}
{#            })#}
            $.ajax({
                type: "GET",
                url: "{% url 'ajax_test' %}"
            }).done(function( ret ) {
                alert( "Returned: " + ret );
                window.location.href = "url"
            });
        });
    </script>

    <div class="row">
        <div class="col-sm-3">

        </div>
    </div>

{%  endblock %}