{% extends "base.html" %}
{% load i18n %}
{% load form_tags %}
{% load humanize %}

{% block title %}{{ block.super }} | Dashboard{% endblock %}


{% block content %}

    {% if request.session.user.is_superuser == True %}
        <div class="row">
            <div class="col-sm-3">

                <div class="tile-stats tile-red">
                    <div class="icon"><i class="entypo-users"></i></div>
                    <div class="num" data-start="0" data-end="{{ users_amount }}" data-postfix="" data-duration="1500"
                         data-delay="0">0
                    </div>

                    <h3>{% trans "Registered users" %}</h3>

                    <p>{% trans "so far in our blog, and our website." %}</p>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="tile-stats tile-green">
                    <div class="icon"><i class="entypo-chart-bar"></i></div>
                    <div class="num" data-start="0" data-end="{{ virtual_machines }}" data-postfix=""
                         data-duration="1500" data-delay="600">0
                    </div>

                    <h3>{% trans "Virtual machines" %}</h3>

                    <p>{% trans "up to running." %}</p>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="tile-stats tile-aqua">
                    <div class="icon"><i class="entypo-attention"></i></div>
                    <div class="num" data-start="0" data-end="{{ done_task }}" data-postfix="" data-duration="1500"
                         data-delay="1200">0
                    </div>

                    <h3>{% trans "Done tasks" %}</h3>

                    <p>{% trans "by Dev Cloud servis." %}</p>
                </div>

            </div>

            <div class="col-sm-3">

                <div class="tile-stats tile-blue">
                    <div class="icon"><i class="entypo-list"></i></div>
                    <div class="num" data-start="0" data-end="{{ pending_task }}" data-postfix="" data-duration="1500"
                         data-delay="1800">0
                    </div>

                    <h3>{% trans "Pending tasks" %}</h3>

                    <p>{% trans "on Redis Server right now." %}</p>
                </div>

            </div>
        </div>

        <br/>
    {% endif %}

    <div class="row">

        <div class="col-md-6">
            <div class="tile-block" id="todo_tasks">

                <div class="tile-header">
                    <i class="entypo-attention"></i>

                    <a href="#">
                        {% trans "Notifications" %}
                        <span>{% trans "Notification list" %}</span>
                    </a>
                </div>

                <div class="tile-content">

                    <ul id="notification_list" class="todo-list">
                        {% for notification in  request.session.notifications %}
                            <li>
                                <div onclick="read_notification(this);" id="{{ notification.0 }}"
                                     class="checkbox checkbox-replace color-white">
                                    <input type="checkbox"/>
                                    <label class="popover-notification"
                                           data-toggle="popover"
                                           data-trigger="hover"
                                           data-placement="right"
                                           data-original-title="{% trans "Detailed information" %}"
                                           data-content="{{ notification.2 }}">
                                        {{ notification.1 }}
                                        <span style="float: right;">{{ notification.3|naturaltime }}</span>
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </div>

                <div class="tile-footer text-right">
                    <a id="read_all_list" href="#">{% trans "Mark all Read" %}</a>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary panel-table">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h3>{% trans "Events" %}</h3>
                        <span>{% trans "This month's event calendar" %}</span>
                    </div>

                    <div class="panel-options">
                        <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1" class="bg"><i
                                class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="calendar" class="calendar-widget">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        jQuery(document).ready(function ($) {

            jQuery("#read_all_list").click(function () {
                show_loading_bar({
                    pct: 78,
                    finish: function (pct) {
                        jQuery('div.checkbox.checkbox-replace.color-white').each(function (index) {
                            var notification_element = jQuery(this);
                            notification_element.addClass("checked");
                            ajaxGet('{% url 'mark_read_all' %}', function (content) {
                                //onSuccess
                                setTimeout(function () {
                                    notification_element.fadeOut("slow", function () {
                                        ajaxGet('/main/app/utils/refresh_notification_notifier', function (content) {
                                            //onSuccess
                                            jQuery("#notification_notifier").html(content);
                                        });
                                        notification_element.remove();
                                    });
                                }, 1500);
                            });
                        });
                        toastr.info('{% trans "Read all" %}')
                        hide_loading_bar();
                    }
                });
            });

            // Popovers and tooltips
            $('[data-toggle="popover"]').each(function (i, el) {
                var $this = $(el),
                        placement = attrDefault($this, 'placement', 'right'),
                        trigger = attrDefault($this, 'trigger', 'click'),
                        popover_class = $this.hasClass('popover-secondary') ? 'popover-secondary' : ($this.hasClass('popover-primary') ? 'popover-primary' : ($this.hasClass('popover-default') ? 'popover-default' : ''));

                $this.popover({
                    placement: placement,
                    trigger: trigger,
                    container: "body",
                    html: true
                });

                $this.on('shown.bs.popover', function (ev) {
                    var $popover = $this.next();

                    $popover.addClass(popover_class);
                });
            });

            $("#calendar").fullCalendar({
                header: {
                    left: '',
                    center: 'title',
                    right: '',
                },

                firstDay: 1,
                height: 300,
            });

        });

        function read_notification(element) {
            ajaxGet('/main/app/utils/mark_read_notification/' + jQuery(element).attr('id'), function (content) {
                //onSuccess
                setTimeout(function () {
                    var notification_element = jQuery(element);
                    notification_element.fadeOut("slow", function () {
                        ajaxGet('/main/app/utils/refresh_notification_notifier', function (content) {
                            //onSuccess
                            jQuery("#notification_notifier").html(content);
                        });
                        notification_element.remove();
                    });
                }, 700);
            });
        }
    </script>

    <script src="{{ STATIC_URL }}app/js/fullcalendar/fullcalendar.min.js"></script>

{% endblock %}