{% load i18n %}

<ul id="main-menu" class="">
    <!-- add class "multiple-expanded" to allow multiple submenus to open -->
    <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
    <!-- Search Bar -->
    <li id="search">
        <form method="get" action="">
            <input type="text" name="q" class="search-input" placeholder="Search something..."/>
            <button type="submit">
                <i class="entypo-search"></i>
            </button>
        </form>
    </li>
    <li class="active">
        <a href="{% url 'app_main' %}">
            <i class="entypo-gauge"></i>
            <span>{% trans "Dashboard" %}</span>
        </a>
    </li>
    <li>
        <a href="{% url 'app_main' %}">
            <i class="entypo-publish"></i>
            <span>{% trans "Create enviroment" %}</span>
        </a>
        <ul>
            <li>
                <a href="{% url 'app_main' %}">
                    <span>{% trans "Personalized" %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'app_main' %}">
                    <span>{% trans "Predefined" %}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'app_main' %}">
            <i class="entypo-rocket"></i>
            <span>{% trans "Manage environments" %}</span>
        </a>
        <ul>
            <li>
                <a href="{% url 'app_main' %}">
                    <span>{% trans "..." %}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="mailbox.html">
            <i class="entypo-mail"></i>
            <span>Mailbox</span>
            <span class="badge badge-secondary">8</span>
        </a>
        <ul>
            <li>
                <a href="mailbox.html">
                    <i class="entypo-inbox"></i>
                    <span>{% trans "Inbox" %}</span>
                </a>
            </li>
            <li>
                <a href="mailbox-compose.html">
                    <i class="entypo-pencil"></i>
                    <span>{% trans "Compose Message" %}</span>
                </a>
            </li>
            <li>
                <a href="mailbox-message.html">
                    <i class="entypo-attach"></i>
                    <span>{% trans "View Message" %}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{% url 'lock_screen' %}">
            <i class="entypo-lock"></i>
            <span>{% trans "Lock screen" %}</span>
        </a>
    </li>
</ul>