{% load i18n %}
{% load form_tags %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Dev Cloud - application Platform as a Service">
    <title>{% block title %}Dev Cloud - aPaaS{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}main/images/icons/favicon.png"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/normalize.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/foundation.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/animate.min.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/morphext.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/owl.carousel.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/owl.theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/owl.transitions.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main/css/slicknav.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}main/style.css"/>
    <script src="{{ STATIC_URL }}main/js/vendor/modernizr.js"></script>
</head>
<body {% block body_class %} {% endblock %}>


<!--  HEADER -->
<header {% block header_class %} {% endblock %}>
    {% block header %}
    {% endblock %}
    {% include "main/menu.html" %}
</header>
<!--  END OF HEADER -->

{% block content %}

{% endblock %}

{% include "main/footer.html" %}
</body>
</html>
