{% block footer %}
<!--  FOOTER  -->
<footer>
    <div class="row">
        <div class="small-12 columns">
            <div class="contacts">
                <div class="row">
                    <div class="small-12 large-3 medium-3 columns">
                        <i class="fa fa-map-marker"></i>
                        CRACOW, POLAND
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <i class="fa fa-mobile"></i>
                        +48 508 936 231
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <a href=""><i class="fa fa-comments"></i></a>
                        LIVE CHAT
                    </div>
                    <div class="small-12 large-3 medium-3 columns">
                        <a href=""><i class="fa fa-envelope-o"></i></a>
                        E-MAIL US
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="small-12 columns">
            <div class="footerlinks">
                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>Application PaaS</h2>
                    <ul>
                        <li><a href="">About aPaaS</a></li>
                        <li><a href="">Virtualization</a></li>
                        <li><a href="">Contribute</a></li>
                        <li><a href="">Fallow us</a></li>
                        <li><a href="">FAQ</a></li>
                    </ul>
                </div>

                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>Company</h2>
                    <ul>
                        <li><a href="">About us</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Terms of Service</a></li>
                        <li><a href="">Acceptable Use Policy</a></li>
                        <li><a href="">Affiliates</a></li>
                    </ul>
                </div>

                <div class="small-12 large-3 medium-3 columns border-right">
                    <h2>Add-on Services</h2>
                    <ul>
                        <li><a href="">SSL Certificates</a></li>
                        <li><a href="">Dedicated IPs</a></li>
                        <li><a href="">OpenSource Licenses</a></li>
                        <li><a href="">Open API</a></li>
                        <li><a href="">Migrations / Transfers</a></li>
                    </ul>
                </div>

                <div class="small-12 large-3 medium-3 columns">
                    <h2>Dev Cloud Newsletter</h2>

                    <p>Sign up for new features:</p>

                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//audemedia.us7.list-manage.com/subscribe/post?u=b5638e105dac814ad84960d90&amp;id=9345afa0aa"
                              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                              class="validate" target="_blank" novalidate>

                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
                                   placeholder="email address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text"
                                                                                   name="b_b5638e105dac814ad84960d90_9345afa0aa"
                                                                                   tabindex="-1" value=""></div>
                            <div class="clear"><input type="submit" value="Subscribe" name="subscribe"
                                                      id="mc-embedded-subscribe" class="button"></div>
                        </form>
                    </div>
                </div>
                <!--End mc_embed_signup-->
            </div>

        </div>
    </div>

    <!--SOCIAL LINKS -->
    <div class="social">
        <div class="row">
            <div class="small-12 columns">
                <ul class="small-block-grid-1 large-block-grid-5 medium-block-grid-5">
                    <li class="facebook"><a href="">FACEBOOK</a></li>
                    <li class="twitter"><a href="">TWITTER</a></li>
                    <li class="googleplus"><a href="">GOOGLE+</a></li>
                    <li class="linkedin"><a href="">LINKEDIN</a></li>
                    <li class="pinterest"><a href="">PINTEREST</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END OF SOCIAL LINKS -->
    <p class="copyright">© Copyright Dev Cloud, all rights reserved. </p>
</footer>
<!--  END OF FOOTER  -->

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

<script src="{{ STATIC_URL }}main/js/vendor/jquery.js"></script>
<script src="{{ STATIC_URL }}main/js/foundation.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/hoverIntent.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/superfish.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/morphext.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/wow.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/jquery.slicknav.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/waypoints.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/jquery.animateNumber.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/owl.carousel.min.js"></script>
<script src="{{ STATIC_URL }}main/js/vendor/jquery.slicknav.min.js"></script>
<script src="{{ STATIC_URL }}main/js/custom.js"></script>

{% endblock %}