{% extends "main/base.html" %}
{% load i18n %}
{% load form_tags %}


{% block title %}{{ block.super }}{% endblock %}

{% block header %}
    <!--  MESSAGES ABOVE HEADER IMAGE -->
    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>

                    <p>Flexible application Platform as a Service</p>
                    <span class="message-line"></span>
                </div>
                <h1><span id="js-rotating">HIGH PERFORMANCE VIRTUAL MACHINES, CLOUD FOR WEBSITES AND APPLICATIONS, INSTANT ACCOUNT ACTIVATION, EXCELLENT CPU AND IO PERFORMANCE, THE REAL PUBLIC CLOUD EXPERIENCE</span>
                </h1>
                <a href="#pricingboxes" class="small radius button">VIEW PLANS</a>
            </div>
        </div>
    </div>
    <!--  END OF MESSAGES ABOVE HEADER IMAGE -->
{% endblock %}

{% block content %}
<!--  FEATURES -->
<section class="features">
    <div class="row">
        <div class="small-12 columns">
            <h2>OUR FEATURES ARE UNBEATABLE</h2>

            <p>VHS blog brunch, direct trade cornhole skateboard fashion axe incididunt gastropub pork belly 90's
                ullamco dreamcatcher. You probably haven't heard of them cred synth Schlitz, direct trade food truck
                normcore Neutra. Organic Schlitz sustainable DIY.</p>

            <ul class="small-block-grid-1 large-block-grid-3 medium-block-grid-3">

                <li data-wow-delay="0.2s" class="wow fadeInLeft">
                    <i class="fa fa-database"></i>

                    <h3>Cloud Databases</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

                <li data-wow-delay="0.4s" class="wow fadeInLeft">
                    <i class="fa fa-git-square"></i>

                    <h3>Pre-installed git</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

                <li data-wow-delay="0.6s" class="wow fadeInLeft">
                    <i class="fa fa-code"></i>

                    <h3>Developer-friendly tools</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

                <li data-wow-delay="0.2s" class="wow fadeInRight">
                    <i class="fa fa-bolt"></i>

                    <h3>Gigabit uplinks</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

                <li data-wow-delay="0.4s" class="wow fadeInRight">
                    <i class="fa fa-hdd-o"></i>

                    <h3>SSD-Only</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

                <li data-wow-delay="0.6s" class="wow fadeInRight">
                    <i class="fa fa-rocket"></i>

                    <h3>Running at scale</h3>

                    <p>Food truck artisan cillum voluptate umami Austin quis, viral asymmetrical freegan occaecat swag
                        skateboard</p>
                </li>

            </ul>
        </div>
    </div>
</section>
<!--  END OF FEATURES -->

<!--  CALL TO ACTION  -->
<section class="calltoaction">
    <div class="row">
        <div class="small-12 columns">
            <div data-wow-delay="0.3s" class="longshadow wow fadeInDown">NEW USER?</div>
            <div data-wow-delay="0.5s" class="calltoactioninfo wow fadeInUp">
                <h2><span id="discount">0</span><span>$</span> FOR USE</h2>

                <h3>YES IT'S <strong>FREE!</strong> YOU NEED ONLY <strong>SIGN UP</strong></h3>
                <a href="{% url 'reg_register' %}" class="small radius button">SIGN UP NOW!</a>
            </div>
        </div>
    </div>
</section>
<!--  END OF CALL TO ACTION -->

<!--  PRICING BOXES  -->
<div class="pricingboxes">
    <a id="pricingboxes"></a>

    <div class="row">
        <div class="small-12 columns">
            <h2>WHAT WE OFFER TO YOU</h2>

            <p>Stumptown fanny pack ullamco Neutra, Banksy keytar deep v four loko cray proident chillwave. Tote bag
                Brooklyn Bushwick pour-over. Helvetica shabby chic vegan stumptown. Occaecat yr seitan forage.
                Typewriter lo-fi sartorial, church-key hella est pickled sustainable master cleanse.</p>
        </div>
    </div>

    <div class="spacing-30"></div>

    <div class="row">
        <div data-wow-delay="0.2s" class="small-12 large-4 medium-4 columns wow zoomIn">
            <div class="title">IaaS</div>
            <ul class="pricing-table">
                <li class="description">100% <strong>Linux</strong> friendly</li>
                <li class="bullet-item">10GB storage</li>
                <li class="bullet-item">3GB bandwidth</li>
                <li class="bullet-item">24/7 security monitoring</li>
                <li class="bullet-item">24/7 technical support</li>
                <li class="cta-button"></li>
            </ul>
        </div>

        <div data-wow-delay="0.4s" class="small-12 large-4 medium-4 columns wow zoomIn">
            <div class="title">aPaaS</div>
            <ul class="pricing-table">
                <li class="description">Deploy In <strong>30 Seconds</strong></li>
                <li class="bullet-item">3GB bandwidth</li>
                <li class="bullet-item">24/7 security monitoring</li>
                <li class="bullet-item">24/7 technical support</li>
                <li class="bullet-item">Continuous Integration tools</li>
                <li class="cta-button"></li>
            </ul>
        </div>

        <div data-wow-delay="0.6s" class="small-12 large-4 medium-4 columns wow zoomIn">
            <div class="title">Dev Cloud</div>
            <ul class="pricing-table">
                <li class="description">All in <strong>ONE</strong></li>
                <li class="price"><span>$0</span><div style="height: 7px"></div></li>
                <li class="cta-button"><p><span><a href="{% url 'reg_register' %}">SIGN UP NOW</a></span></p></li>
            </ul>
        </div>

    </div>
</div>
<!--  END OF PRCING BOXES  -->

<!--  TESTIMONIALS  -->
<section class="testimonials">
    <div class="row">
        <div class="small-12 columns">
            <div class="circle"><i class="fa fa-heart"></i></div>
            <h2>LOVED BY <span id="lovedby">0</span> DEVELOPERS</h2>
            <hr class="small"/>

            <div id="testimonials-carousel" class="owl-carousel">

                <div class="item">
                    <div class="whoclient"><span>Petr Wright, Developer at <a href="">Aina Corp.</a></span></div>
                    <div class="testimonial-content">
                        <div class="testimonialimg"><img src="{{ STATIC_URL }}main/images/hn-200x200.jpg" alt=""/></div>
                        <p>Semiotics ennui shabby chic irony Tumblr. Letterpress Cosby sweater put a bird on it ethnic
                            fap Portland. Ethnic Pitchfork brunch, kogi crucifix cornhole fanny pack. Squid PBR artisan,
                            Austin gastropub vegan lo-fi sustainable ethnic. Before they sold out 8-bit aesthetic ethnic
                            mixtape.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="whoclient"><span>Neil Wynter, Developer at <a href="">Reise S.A.</a></span></div>
                    <div class="testimonial-content">
                        <div class="testimonialimg"><img src="{{ STATIC_URL }}main/images/jo-200x200.jpg" alt=""/></div>
                        <p>Voluptate kogi VHS, occupy hella banh mi Thundercats Godard jean shorts plaid in cred food
                            truck. Plaid fingerstache craft beer, disrupt labore Tonx exercitation single-origin coffee
                            assumenda raw denim delectus kogi. Thundercats proident photo booth Truffaut, banjo duis
                            8-bit church-key sunt mollit selvage elit Cosby.</p>
                    </div>
                </div>

                <div class="item">
                    <div class="whoclient"><span>Darron Williams, Developer at <a href="">Joseph Ltd.</a></span></div>
                    <div class="testimonial-content">
                        <div class="testimonialimg"><img src="{{ STATIC_URL }}main/images/sm-200x200.jpg" alt=""/></div>
                        <p>Deep v bespoke ethical, fanny pack ea Odd Future sapiente chia et synth id slow-carb sriracha
                            nesciunt tote bag. Meggings ex pug, enim Odd Future ea salvia deep v sartorial mlkshk
                            literally yr sapiente. Shoreditch deserunt master cleanse, try-hard McSweeney's whatever art
                            party put a bird on it pork.</p>
                    </div>
                </div>


            </div>

        </div>
    </div>
</section>
<!--  END OF TESTIMONIALS -->

<!--  MONITORING  -->
<section class="monitoring">
    <div class="row">
        <div class="small-12 columns">
            <h2>REAL-TIME APPLICATION PERFORMANCE MONITORING</h2>

            <p class="text-center">Tousled freegan messenger bag, mixtape cred farm-to-table meggings deep v 90's ethnic
                authentic occupy flexitarian fingerstache</p>

            <div data-wow-delay="0.3s" class="text-center wow fadeInUp"><img src="{{ STATIC_URL }}main/images/monitoring.png" alt=""/></div>
        </div>
    </div>
</section>
<!--  END OF MONITORING  -->
{% endblock %}