{% load i18n %}
{% load form_tags %}

    <div class="top">
        <div class="row">
            <div class="small-12 large-3 medium-3 columns">
                <div class="logo">
                    <a href="{% url 'mai_main' %}" title="{% trans "Home page" %}"><img
                            src="{{ STATIC_URL }}main/images/logo.png" alt="Dev Cloud" title="Dev Cloud"/></a>
                </div>
            </div>

            <div class="small-12 large-9 medium-9 columns">

                <!--  NAVIGATION MENU AREA -->
                <nav class="desktop-menu">
                    <ul class="sf-menu">
                        <li><a href="{% url 'mai_main' %}">HOME</a></li>
                        <li><a href="{% url 'login' %}">SING IN</a></li>
                        <li><a href="{% url 'reg_register' %}">SING UP</a>
                        </li>
                        <li><a href="#">BLOG</a>
                            <ul>
                                <li><a href="blog.html">NEWS</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>
                </nav>
                <!--  END OF NAVIGATION MENU AREA -->

                <!--  MOBILE MENU AREA -->
                <nav class="mobile-menu">
                    <ul>
                        <li><a href="{% url 'mai_main' %}">HOME</a></li>
                        <li><a href="{% url 'login' %}">SING IN</a></li>
                        <li><a href="{% url 'reg_register' %}">SING UP</a></li>
                        <li><a href="#">BLOG</a>
                            <ul>
                                <li><a href="blog.html">NEWS</a></li>
                                <li><a href="#">FAQ</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'contact' %}">CONTACT</a></li>
                    </ul>
                </nav>
                <!--  END OF MOBILE MENU AREA -->


            </div>
        </div>
    </div>