{% load i18n %}
{% load form_tags %}

    <div class="top">
        <div class="row">
            <div class="small-12 large-3 medium-3 columns">
                <div class="logo">
                    <a href="{% url 'mai_main' %}" title="{% trans "Home page" %}"><img
                            src="{{ STATIC_URL }}main/images/logo.png" alt="Dev Cloud" title="Dev Cloud"/></a>
                </div>
            </div>

            <div class="small-12 large-9 medium-9 columns">

                <!--  NAVIGATION MENU AREA -->
                <nav class="desktop-menu">
                    <ul class="sf-menu">
                        <li class="current-menu-item"><a href="{% url 'mai_main' %}">HOME</a></li>
                        <li><a href="auth/login/">SING IN</a></li>
                        <li><a href="{% url 'reg_register' %}">SING UP</a>
                        </li>
                        <li><a href="#">BLOG</a>
                            <ul>
                                <li><a href="blog.html">CATEGORY</a></li>
                                <li><a href="blog-single.html">SINGLE POST</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </nav>
                <!--  END OF NAVIGATION MENU AREA -->

                <!--  MOBILE MENU AREA -->
                <nav class="mobile-menu">
                    <ul>
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="#">HOSTING</a>
                            <ul>
                                <li><a href="shared.html">SHARED HOSTING</a></li>
                                <li><a href="vps.html">CLOUD VPS</a></li>
                                <li><a href="servers.html">DEDICATED SERVERS</a></li>
                            </ul>
                        </li>
                        <li><a href="domains.html">DOMAINS</a></li>
                        <li><a href="#">PAGES</a>
                            <ul>
                                <li><a href="support.html">SUPPORT</a></li>
                                <li><a href="login.html">LOGIN</a></li>
                                <li><a href="testimonials.html">TESTIMONIALS</a></li>
                                <li><a href="typography.html">TYPOGRAPHY</a></li>
                            </ul>
                        </li>
                        <li><a href="#">BLOG</a>
                            <ul>
                                <li><a href="blog.html">CATEGORY</a></li>
                                <li><a href="blog-single.html">SINGLE POST</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                </nav>
                <!--  END OF MOBILE MENU AREA -->


            </div>
        </div>
    </div>