{% load i18n %}
{% load custom_tags %}
{#{% load humanize %} |naturaltime#}

<ul class="cbp_tmtimeline">
    {% for task in tasks %}
        <li>
            <time class="cbp_tmtime" datetime="{{ task.create_time }}">
                <span>{{ task.create_time|time:'H:i' }}</span>
                <span>{{ task.create_time|date:'d-m-Y' }}</span></time>

            {% if task.is_processing == True %}
                <div class="cbp_tmicon bg-warning">
                    <i class="entypo-clock"></i>
                </div>
            {% elif task.is_succeeded == True %}
                <div class="cbp_tmicon bg-info">
                    <i class="entypo-check"></i>
                </div>
            {% elif task.is_succeeded == False %}
                <div class="cbp_tmicon bg-secondary">
                    <i class="entypo-cancel"></i>
                </div>
            {% endif %}

            <div class="cbp_tmlabel">
                <h2><a>{{ task.task_name }}</a></h2>
                <blockquote>
                    <p>ID: <strong>#Task_{{ task.id }}</strong></p>
                </blockquote>
                {% if task.is_processing == True %}
                    <br/>
                    <div class="progress progress-striped active">
                        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="100"
                             aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        </div>
                    </div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>

<div class="row">
    <div class="col-md-12">
        <div class="pagination-container" style="text-align: center;">
            <ul class="pagination">
                {% if tasks.has_previous %}
                    <li><a href="?page={{ tasks.previous_page_number }}"><i class="entypo-left-open-mini"></i></a>
                    </li>
                {% endif %}
                {% for i in tasks.paginator.num_pages|get_range %}
                    {% if tasks.number == forloop.counter %}
                        <li><a href="?page={{ forloop.counter }}"><strong>{{ forloop.counter }}</strong></a></li>
                    {% else %}
                        <li><a href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if tasks.has_next %}
                    <li><a href="?page={{ tasks.next_page_number }}"><i class="entypo-right-open-mini"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>