{% load i18n %}
{% load form_tags %}

<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
   data-close-others="true">
    <i class="entypo-list"></i>
    {% if pending_tasks|length >= 1 %}
        <span class="badge badge-warning">{{ pending_tasks|length }}</span>
    {% endif %}
</a>

<ul class="dropdown-menu">

    <li class="top">
        <p>{% trans "You have" %} {{ pending_tasks|length }} {% trans "pending tasks" %}</p>
    </li>

    <li>
        <ul class="dropdown-menu-list scroller">

            {% for task in pending_tasks %}
                <li>
                    <a href="{% url 'tasks' %}{{ task.id }}">
				<span class="task">
					<span class="desc">{{ task.task_name }}</span>
					<span class="percent"><img src="/static/app/images/ajax-loader-small.gif"/></span>
				</span>

				<span class="progress progress-striped active">
					<span class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
                          aria-valuenow="100"
                          aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    </span>
				</span>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </li>

    <li class="external">
        <a href="{% url 'tasks' %}">{% trans "See all tasks" %}</a>
    </li>

</ul>