{% load i18n %}

{% for field in form %}

    <div class="form-group">


        {% if field.label == "Select image" %}

            {% if is_superuser == False %}
                <label for="field-1" class="col-sm-3 control-label">{{ field.label_tag }}</label>

                <div class="col-sm-5">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                        <div class="fileinput-new thumbnail" style="width: 140px; height: 140px;"
                             data-trigger="fileinput">
                            <img src="http://placehold.it/140x140" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"
                             style="max-width: 150px; max-height: 150px"></div>
                        <div>
                                        <span class="btn btn-white btn-file">
                                            <span class="fileinput-new">{% trans "Select image" %}</span>
                                            <span class="fileinput-exists">{% trans "Change" %}</span>
                                            {{ field|safe }}
                                        </span>
                            <a href="#" class="btn btn-orange fileinput-exists"
                               data-dismiss="fileinput">{% trans "Remove" %}</a>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% else %}
            {% if field.label == "Activation status" %}
                {% if is_superuser == True %}
                    <label for="field-1" class="col-sm-3 control-label">{{ field.label_tag }}</label>

                    <div class="col-sm-5">
                        {{ field|safe }}
                    </div>
                {% endif %}
            {% else %}
                <label for="field-1" class="col-sm-3 control-label">{{ field.label_tag }}</label>

                <div class="col-sm-5">
                    {{ field|safe }}
                </div>
            {% endif %}

            {% if field.errors %}
                {{ field.errors }}
            {% endif %}

        {% endif %}
    </div>

{% endfor %}

<div class="col-sm-offset-4 col-sm-10">
    {{ form.non_field_errors }}
</div>
