{% extends "base.html" %}
{% load i18n %}

{% block title %}Dev Cloud - 404 Error{% endblock %}

{% block content %}

    <div class="main-content">
        <div class="page-error-404">


            <div class="error-symbol">
                <i class="entypo-attention"></i>
            </div>

            <div class="error-text">
                <h2>404</h2>

                <p>{% trans "Page not found!" %}</p>
            </div>

            <hr/>

            <div class="error-text">

                {% trans "Search Pages:" %}

                <br/>
                <br/>

                <div class="input-group minimal">
                    <div class="input-group-addon">
                        <i class="entypo-search"></i>
                    </div>

                    <input type="text" class="form-control" placeholder="{% trans "Search anything..." %}"/>
                </div>

            </div>

        </div>
    </div>
{% endblock %}

