{% load i18n %}
{% load form_tags %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Dev Cloud - application Platform as a Service"/>
    <meta name="author" content="Michał Szczygieł"/>

    <title>{% block title %}Dev Cloud{% endblock %}</title>

    <link rel="shortcut icon" href="{{ STATIC_URL }}main/images/icons/favicon.png"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}app/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/neon-core.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/neon-theme.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/neon-forms.css">

    {% load assets %}
    {% assets "template_css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <script src="{{ STATIC_URL }}app/js/jquery-1.11.0.min.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}django_ajax/js/jquery.ajax.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}django_ajax/js/jquery.ajax-plugin.min.js"></script>

    <!--[if lt IE 9]><script src="{{ STATIC_URL }}app/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body {% block body_class %}class="page-body  page-fade"{% endblock %} data-url="http://192.245.169.169/main/app/">

{% block body %}
    <div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    {#  VERTICAL MENU  #}
    <div class="sidebar-menu">

        {% include "app/header.html" %}

        <ul id="main-menu" class="">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
            <!-- Search Bar -->
            <li id="search">
                <form method="get" action="">
                    <input type="text" name="q" class="search-input" placeholder="Search something..."/>
                    <button type="submit">
                        <i class="entypo-search"></i>
                    </button>
                </form>
            </li>
            <li class="{{ dashboard }}">
                <a href="{% url 'app_main' %}">
                    <i class="entypo-gauge"></i>
                    <span>{% trans "Dashboard" %}</span>
                </a>
            </li>
            <li class="{% if create_env_own == 'active' or create_env_pre == 'active' %}opened active{% endif %}">
                <a href="{% url 'app_main' %}">
                    <i class="entypo-publish"></i>
                    <span>{% trans "Create enviroment" %}</span>
                </a>
                <ul>
                    <li class="{{ create_env_own }}">
                        <a href="{% url 'personalized_environment' %}">
                            <i class="entypo-flow-tree"></i>
                            <span>{% trans "Personalized" %}</span>
                        </a>
                    </li>
                    <li class="{{ create_env_pre }}">
                        <a href="{% url 'app_main' %}">
                            <i class="entypo-install"></i>
                            <span>{% trans "Predefined" %}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{% if manage_env == 'active' %}opened active{% endif %}">
                <a href="{% url 'app_main' %}">
                    <i class="entypo-rocket"></i>
                    <span>{% trans "Manage environments" %}</span>
                </a>
                <ul>
                    <li class="{{ manage_env }}">
                        <a href="{% url 'app_main' %}">
                            <span>{% trans "..." %}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="{% if mail_box_inbox == 'active' or mail_box_compose == 'active' or mail_box_view == 'active' %}opened active{% endif %}">
                <a href="{% url 'mail_box' %}">
                    <i class="entypo-mail"></i>
                    <span>Mailbox</span>
                    <span class="badge badge-secondary">8</span>
                </a>
                <ul>
                    <li class="{{ mail_box_inbox }}">
                        <a href="{% url 'mail_box' %}">
                            <i class="entypo-inbox"></i>
                            <span>{% trans "Inbox" %}</span>
                        </a>
                    </li>
                    <li class="{{ mail_box_compose }}">
                        <a href="{% url 'mail_compose' %}">
                            <i class="entypo-pencil"></i>
                            <span>{% trans "Compose Message" %}</span>
                        </a>
                    </li>
                </ul>
            </li>
        {% ifequal request.session.user.is_superuser True %}
            <li class="{{ user_activation }}">
                <a href="{% url 'user_activation' %}">
                    <i class="entypo-user-add"></i>
                    <span>{% trans "User activation" %}</span>
                </a>
            </li>
        {% endifequal %}
            <li class="{{ members }}">
                <a href="{% url 'members' %}">
                    <i class="entypo-users"></i>
                    <span>{% trans "Members" %}</span>
                </a>
            </li>
            <li class="{{ lock_screen }}">
                <a id="lock_screen">
                    <i class="entypo-lock"></i>
                    <span>{% trans "Lock screen" %}</span>
                </a>
            </li>
        </ul>

    </div>
    {#  END VERTICAL MENU  #}

    <div class="main-content">

        <div class="row">

            <!-- Profile Info and Notifications -->
            <div class="col-md-6 col-sm-8 clearfix hidden-print">

                <ul class="user-info pull-left pull-none-xsm">

                    <!-- Profile Info -->
                    <li class="profile-info dropdown">
                        <!-- add class "pull-right" if you want to place this from right -->

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="

                                    {% if request.session.user.picture != '' %}{{ MEDIA_URL }}{{ request.session.user.picture }}{% else %}{{ STATIC_URL }}app/images/no-photo.png{% endif %}"
                                 alt="" class="img-circle" width="44"/>
                            {{ request.session.user.first }} {{ request.session.user.last }}
                        </a>

                        <ul class="dropdown-menu">

                            <!-- Reverse Caret -->
                            <li class="caret"></li>

                            <!-- Profile sub-links -->
                            <li>
                                <a href="{% url 'account' %}">
                                    <i class="entypo-user"></i>
                                    {% trans "Profile" %}
                                </a>
                            </li>

                            <li>
                                <a href="{% url 'mail_box' %}">
                                    <i class="entypo-mail"></i>
                                    {% trans "Inbox" %}
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="entypo-clipboard"></i>
                                    {% trans "Tasks" %}
                                </a>
                            </li>
                        </ul>
                    </li>

                </ul>

                <ul class="user-info pull-left pull-right-xs pull-none-xsm">

                    <!-- Raw Notifications -->
                    <li class="notifications dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="entypo-attention"></i>
                            <span class="badge badge-info">6</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="top">
                                <p class="small">
                                    <a href="#" class="pull-right">Mark all Read</a>
                                    You have <strong>3</strong> new notifications.
                                </p>
                            </li>

                            <li>
                                <ul class="dropdown-menu-list scroller">
                                    <li class="unread notification-success">
                                        <a href="#">
                                            <i class="entypo-user-add pull-right"></i>

				<span class="line">
					<strong>New user registered</strong>
				</span>

				<span class="line small">
					30 seconds ago
				</span>
                                        </a>
                                    </li>

                                    <li class="unread notification-secondary">
                                        <a href="#">
                                            <i class="entypo-heart pull-right"></i>

				<span class="line">
					<strong>Someone special liked this</strong>
				</span>

				<span class="line small">
					2 minutes ago
				</span>
                                        </a>
                                    </li>

                                    <li class="notification-primary">
                                        <a href="#">
                                            <i class="entypo-user pull-right"></i>

				<span class="line">
					<strong>Privacy settings have been changed</strong>
				</span>

				<span class="line small">
					3 hours ago
				</span>
                                        </a>
                                    </li>

                                    <li class="notification-danger">
                                        <a href="#">
                                            <i class="entypo-cancel-circled pull-right"></i>

				<span class="line">
					John cancelled the event
				</span>

				<span class="line small">
					9 hours ago
				</span>
                                        </a>
                                    </li>

                                    <li class="notification-info">
                                        <a href="#">
                                            <i class="entypo-info pull-right"></i>

				<span class="line">
					The server is status is stable
				</span>

				<span class="line small">
					yesterday at 10:30am
				</span>
                                        </a>
                                    </li>

                                    <li class="notification-warning">
                                        <a href="#">
                                            <i class="entypo-rss pull-right"></i>

				<span class="line">
					New comments waiting approval
				</span>

				<span class="line small">
					last week
				</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="external">
                                <a href="#">View all notifications</a>
                            </li>
                        </ul>

                    </li>

                    <!-- Message Notifications -->
                    <li class="notifications dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="entypo-mail"></i>
                            <span class="badge badge-secondary">10</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <ul class="dropdown-menu-list scroller">
                                    <li class="active">
                                        <a href="#">
				<span class="image pull-right">
					<img src="{{ STATIC_URL }}app/images/thumb-1.png" alt="" class="img-circle"/>
				</span>

				<span class="line">
					<strong>Luc Chartier</strong>
					- yesterday
				</span>

				<span class="line desc small">
					This ain’t our first item, it is the best of the rest.
				</span>
                                        </a>
                                    </li>

                                    <li class="active">
                                        <a href="#">
				<span class="image pull-right">
					<img src="{{ STATIC_URL }}app/images/thumb-2.png" alt="" class="img-circle"/>
				</span>

				<span class="line">
					<strong>Salma Nyberg</strong>
					- 2 days ago
				</span>

				<span class="line desc small">
					Oh he decisively impression attachment friendship so if everything.
				</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
				<span class="image pull-right">
					<img src="{{ STATIC_URL }}app/images/thumb-3.png" alt="" class="img-circle"/>
				</span>

				<span class="line">
					Hayden Cartwright
					- a week ago
				</span>

				<span class="line desc small">
					Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
				</span>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
				<span class="image pull-right">
					<img src="{{ STATIC_URL }}app/images/thumb-4.png" alt="" class="img-circle"/>
				</span>

				<span class="line">
					Sandra Eberhardt
					- 16 days ago
				</span>

				<span class="line desc small">
					On so attention necessary at by provision otherwise existence direction.
				</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="external">
                                <a href="{% url 'mail_box' %}">All Messages</a>
                            </li>
                        </ul>

                    </li>

                    <!-- Task Notifications -->
                    <li class="notifications dropdown">

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                           data-close-others="true">
                            <i class="entypo-list"></i>
                            <span class="badge badge-warning">1</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li class="top">
                                <p>You have 6 pending tasks</p>
                            </li>

                            <li>
                                <ul class="dropdown-menu-list scroller">
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">Procurement</span>
					<span class="percent">27%</span>
				</span>

				<span class="progress">
					<span style="width: 27%;" class="progress-bar progress-bar-success">
						<span class="sr-only">27% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">App Development</span>
					<span class="percent">83%</span>
				</span>

				<span class="progress progress-striped">
					<span style="width: 83%;" class="progress-bar progress-bar-danger">
						<span class="sr-only">83% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">HTML Slicing</span>
					<span class="percent">91%</span>
				</span>

				<span class="progress">
					<span style="width: 91%;" class="progress-bar progress-bar-success">
						<span class="sr-only">91% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">Database Repair</span>
					<span class="percent">12%</span>
				</span>

				<span class="progress progress-striped">
					<span style="width: 12%;" class="progress-bar progress-bar-warning">
						<span class="sr-only">12% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">Backup Create Progress</span>
					<span class="percent">54%</span>
				</span>

				<span class="progress progress-striped">
					<span style="width: 54%;" class="progress-bar progress-bar-info">
						<span class="sr-only">54% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
				<span class="task">
					<span class="desc">Upgrade Progress</span>
					<span class="percent">17%</span>
				</span>

				<span class="progress progress-striped">
					<span style="width: 17%;" class="progress-bar progress-bar-important">
						<span class="sr-only">17% Complete</span>
					</span>
				</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="external">
                                <a href="{% url 'tasks' %}">{% trans "See all tasks" %}</a>
                            </li>
                        </ul>

                    </li>

                </ul>

            </div>


            <!-- Raw Links -->
            <div class="col-md-6 col-sm-4 clearfix hidden-xs hidden-print">

                <ul class="list-inline links-list pull-right">

                    <!-- Language Selector -->
                    <li class="dropdown language-selector">
                        {% trans "Language" %}: &nbsp;

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                            <img src="{{ STATIC_URL }}app/images/flag-{% if LANGUAGE_CODE == 'en' %}uk{% elif LANGUAGE_CODE == 'pl' %}pl{% else %}ncr{% endif %}.png"/>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            {% csrf_token %}
                            <li class= {% ifequal LANGUAGE_CODE 'en' %} "active" {% endifequal %}>
                                <a href="/change_language/en/">
                                    <img src="{{ STATIC_URL }}app/images/flag-uk.png"/>
                                    <span>English</span>
                                </a>
                            </li>
                            {% csrf_token %}
                            <li class= {% ifequal LANGUAGE_CODE 'pl' %} "active" {% endifequal %}>
                                <a href="/change_language/pl/">
                                    <img src="{{ STATIC_URL }}app/images/flag-pl.png"/>
                                    <span>Polski</span>
                                </a>
                            </li>
                        </ul>

                    </li>


                    <li class="sep"></li>

                    <li>
                        <a href="#" data-toggle="chat" data-animate="1" data-collapse-sidebar="1">
                            <i class="entypo-chat"></i>
                            Chat

                            <span class="badge badge-success chat-notifications-badge is-hidden">0</span>
                        </a>
                    </li>

                    <li class="sep"></li>

                    <li>
                        <a href="{% url 'logout' %}">
                            Log Out <i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>

            </div>

        </div>

        <hr/>

        {% block content %}{% endblock %}

        {% include "app/footer.html" %}
    </div>

    {% include "app/chat.html" %}

    {% block modal %}
    {% endblock %}

    {% include "app/bottom_scripts.html" %}

    <script>
        jQuery('#lock_screen').attr('href','{% url 'lock_screen' %}?next=' + window.location.pathname);

        var idleTime = 0;
        jQuery(document).ready(function () {
            //Increment the idle time counter every minute.
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            jQuery(this).mousemove(function (e) {
                idleTime = 0;
            });
            jQuery(this).keypress(function (e) {
                idleTime = 0;
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 19) { // 20 minutes
                location.replace("{% url 'lock_screen' %}?next=" + window.location.pathname);
            }
        }
    </script>

{% endblock %}
</body>
</html>