{% load i18n %}
{% load form_tags %}
<!DOCTYPE html>
<html lang="en">

{% include "app/head.html" %}

<body {% block body_class %}class="page-body  page-fade"{% endblock %} data-url="http://192.245.169.169/main/app/">

{% block body %}
<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

    <div class="sidebar-menu">

        {% include "app/header.html" %}

        {% include "app/menu_vertical.html" %}

    </div>

    {% include "app/menu_horizontal.html" %}

    {% block content %}{% endblock %}

    {% include "app/footer.html" %}
</div>

{% include "app/chat.html" %}

{% include "app/bottom_scripts.html" %}
{% endblock %}
</body>
</html>