{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Registration success" %}{% endblock %}

{% block body_class %}class="login-page"{% endblock %}
{% block header_class %}class="login"{% endblock %}

{% block header %}
    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>

                    <p>{% trans "Registration complete" %}</p>
                    <span class="message-line"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="row">
            <div class="small-12 large-7 large-centered medium-7 medium-centered columns">
                <div class="login-form">
                    <p class="success">{% trans "You have been registered, <b>but your account still needs to be activated</b>. </br> An e-mail has been sent to the address that you entered, so please check your e-mail and activate your account at this time." %}</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}