{% load i18n %}
{% load form_tags %}

<div class="modal fade" id="modal">
    <div class="modal-dialog" style="width: 30%">
        <div class="panel panel-danger">

            <div class="panel-heading">
                <div class="panel-title">
                    {% trans "Are You sure to destroy virtual machine?" %}
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                <a href="{% url 'destroy_vm' virtual_machine.id %}" type="submit"
                   class="btn btn-danger">{% trans 'Destroy' %}</a>
            </div>

        </div>
    </div>
</div>
