{% load i18n %}
{% load form_tags %}
{% load custom_tags %}

{% if request.session.environments|length >= 1 %}
    <li class="{% if manage_env == 'active' %}opened active{% endif %}">
        <a href="{% url 'app_main' %}">
            <i class="entypo-rocket"></i>
            <span>{% trans "Manage environments" %}</span>
        </a>
        <ul>

            {% for environment in request.session.environments %}
                <li class="{% if environment.virtual_machine == selected_vm|to_int %}{{ manage_env }}{% endif %}">
                    <a href="/main/app/environments/{{ environment.virtual_machine }}">
                        <span>{{ environment.workspace }}</span>
                    </a>
                </li>
            {% endfor %}

        </ul>
    </li>
{% endif %}