{% extends "app/environment/base.html" %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{{ block.super }} | {% trans "Environment" %}{% endblock %}

{% block content %}
    <ol class="breadcrumb 2">
        <li>
            <a href="{% url 'app_main' %}"><i class="entypo-home"></i>{% trans "Home" %}</a>
        </li>
        <li class="active">
            <strong><i class="entypo-rocket"></i>{% trans "Environments" %} </strong>
        </li>
    </ol>

    <div class="row">
        <div class="col-md-9 col-sm-7">
            <h2>{% trans "Environments" %}</h2>
        </div>
    </div>

    <br/>

    <table class="table table-bordered datatable" id="table-3">
        <thead>

        <tr>
            <th></th>
        </tr>
        </thead>
        <tbody id="dynamic">
        {% for environment in request.session.environments %}
            <tr>
                <td>
                    <!-- Single Member -->
                    <div class="member-entry">

                        <a href="{% url 'view_environment' environment.virtual_machine %}" class="member-img">
                            <img src="{{ STATIC_URL }}app/images/icon-vm.png" class="img-rounded"/>
                            <i class="entypo-forward"></i>
                        </a>

                        <div class="member-details">
                            <div class="row info-list">
                                <div class="col-sm-4">
                                    <i class="entypo-rocket"></i>
                                    <span>{% trans 'Workspace' %}</span>
                                </div>
                            </div>
                            <h4>
                                <a href="{% url 'view_environment' environment.virtual_machine %}">{{ environment.workspace }}</a>
                            </h4>
                        </div>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var table = $("#table-3").dataTable({
                "sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                "bStateSave": true
            });

            {% if destroy_status == 'ok' %}
                toastr.success('{% trans "Virtual machine destroyed" %}');
            {% elif destroy_status == 'failed' %}
                toastr.error('{% trans "Problem with destroy virtual machine" %}');
            {% endif %}
        });
    </script>

    <link rel="stylesheet" href="{{ STATIC_URL }}app/js/datatables/responsive/css/datatables.responsive.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}app/js/select2/select2.css">

    <script src="{{ STATIC_URL }}app/js/jquery.dataTables.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/datatables/TableTools.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/dataTables.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}app/js/datatables/jquery.dataTables.columnFilter.js"></script>
    <script src="{{ STATIC_URL }}app/js/datatables/lodash.min.js"></script>
    <script src="{{ STATIC_URL }}app/js/datatables/responsive/js/datatables.responsive.js"></script>
    <script src="{{ STATIC_URL }}app/js/select2/select2.min.js"></script>
{% endblock %}