{% load i18n %}
{% load form_tags %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary" data-collapsed="0">
            <div class="panel-body">
                <table class="table mail-table">
                    <tbody>
                    <tr>
                        <td class="col-name">
                            <b class="col-name">Public IP</b>
                        </td>
                        <td class="col-subject has-success">
                            <p class="green">
                                Public IP obtain success.
                            </p>
                        </td>
                        <td class="col-options"></td>
                        <td class="col-time"><img src="/static/app/images/ajax-loader-small.gif"/></td>
                    </tr>

                    <tr>
                        <td class="col-name">
                            <a href="#" class="star">
                                <i class="entypo-check"></i>
                            </a>
                            <a href="mailbox-message.html" class="col-name">Google AdWords</a>
                        </td>
                        <td class="col-subject">
                            <a href="mailbox-message.html">
                                Google AdWords: Ads not serving
                            </a>
                        </td>
                        <td class="col-options"></td>
                        <td class="col-time"><img src="/static/app/images/ajax-loader-small.gif"/></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="reset" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
</div>


<script type="text/javascript">
    {#    $(function() {#}
    {#        $('form#form').on('submit', function(e) {#}
    {#            ajaxPost('/main/app/user_activation/' + {{ id }} +'/', $('form#form').serialize(), function(content){#}
    {#                //onSuccess#}
    {#                show_loading_bar({#}
    {#                    pct: 78,#}
    {#                    finish: function(pct)#}
    {#                    {#}
    {#                        jQuery('#modal-7').modal('toggle');#}
    {#                        jQuery('tbody#dynamic').html(content);#}
    {#                        toastr.success('{{ login }} {% trans "successfully updated" %}')#}
    {#                        hide_loading_bar();#}
    {#                    }#}
    {#                });#}
    {##}
    {#            });#}
    {#            e.preventDefault();#}
    {#        });#}
    {#    });#}
</script>