{% extends "app/environment/base.html" %}
{% load i18n %}
{% load custom_tags %}
{% load humanize %}

{% block title %}{{ block.super }} | {% trans "Environment" %}{% endblock %}


{% block content %}

    <ol class="breadcrumb 2">
        <li>
            <a href="{% url 'app_main' %}"><i class="entypo-home"></i>{% trans "Home" %}</a>
        </li>
        <li class="active">
            <a href="{% url 'environments_list' %}"><i class="entypo-rocket"></i>{% trans "Environments" %}</a>
        </li>
        <li class="active">
            <strong>{{ workspace_name }}</strong>
        </li>
    </ol>

    <br/>

    <div class="profile-env">

        <header class="row">

            <div class="col-sm-2">

                <a class="profile-picture">
                    <img src="{{ STATIC_URL }}app/images/icon-vm.png" class="img-responsive img-circle"/>
                </a>

            </div>

            <div class="col-sm-8">

                <ul class="profile-info-sections">
                    <li>
                        <div class="profile-name">
                            <strong>
                                <a>{{ workspace_name }}</a>
                                <a id="vm_status"> <!-- Generate content --></a>
                            </strong>
                            <span><a><i class="entypo-rocket"></i>{% trans 'Workspace' %}</a></span>
                        </div>
                    </li>

                    <li>
                        <div class="profile-stat ">
                            <h5>{% trans 'Used template: ' %}{{ used_template.template_name }}</h5>
                            <span>
                                <a>
                                    <i class="entypo-gauge"></i>
                                    {% trans "CPU: " %}{{ used_template.cpu }} {% trans 'cores' %}
                                </a> <br/>
                                <a>
                                    <i class="entypo-progress-3"></i>
                                    {% trans " RAM memory: " %} {{ used_template.memory }} GB
                                </a> <br/>
                                <a>
                                    <i class="entypo-drive"></i>
                                    {% trans "HDD space: " %} 10 GB
                                </a>
                            </span>
                        </div>
                    </li>

                    <li>
                        <div class="profile-stat">
                            <h5>{% trans "Connection" %}</h5>
                            <span>
                                <a>
                                    <i class="entypo-key"></i>
                                    {% trans "Get ssh key" %}
                                </a> <br/>
                                <a href="{% url "show_vnc" virtual_machine.id %}" target="_blank">
                                    <i class="entypo-monitor"></i>
                                    {% trans "VNC" %}
                                </a><br/>
                                <a>
                                    <i class="entypo-globe"></i>
                                    {% if virtual_machine.public_ip != 'False' %}
                                        {{ virtual_machine.public_ip }}
                                    {% else %}
                                        {% trans "No public IP" %}
                                    {% endif %}
                                </a>
                            </span>
                        </div>
                    </li>

                </ul>

            </div>

            <div class="col-sm-2">

                <div class="profile-buttons">
                    <a href="javascript:;"
                       onclick="jQuery('#modal').modal('show', {backdrop: 'static'}); jQuery('html, body').animate({scrollTop: 0}, 'slow');"
                       class="btn btn-danger">
                        <i class="entypo-cancel"></i>
                        {% trans 'Destroy' %}
                    </a>
                </div>
            </div>

        </header>

        <section class="profile-info-tabs">

            <div class="row">

                <div class="col-sm-10">
                    <div class="col-sm-2 notes text-center">
                        <br/>

                        <h3>{% trans 'Installed applications:' %}</h3>
                    </div>

                    {% for installed_app in installed_apps %}
                        <div class="col-sm-2">
                            <ul class="user-details text-center">
                                <li>
                                    <img src="https://manage.jujucharms.com/api/2/charm/trusty/{{ installed_app.application.application_name }}/file/icon.svg"
                                         class="img-rounded panel-heading backup_picture"/>
                                </li>
                                <span>{{ installed_app.application.application_name }}</span>
                            </ul>
                        </div>
                    {% endfor %}

                </div>

            </div>

        </section>

    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>
                            {% trans "Virtual Machine Taks'" %}
                            <br/>
                            <small>{% trans "list of task for current virtual machine" %}</small>
                        </h4>
                    </div>

                    <div class="panel-options">
                        <a href="#"><i class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>

                <div id="vm_tasks" class="panel-body">
                    <!-- Generate content -->
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">
                        <h4>
                            Real Time Monitoring
                            <br/>
                            <small>current virtual machine uptime</small>
                        </h4>
                    </div>

                    <div class="panel-options">
                        <a href="#"><i class="entypo-cog"></i></a>
                        <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                        <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        <a href="#" data-rel="close"><i class="entypo-cancel"></i></a>
                    </div>
                </div>

                <div class="panel-body no-padding">
                    <div id="rickshaw-chart-demo-2">
                        <div id="rickshaw-legend"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script type="text/javascript">
        (function updateVmStatus() {
            ajaxGet('/main/app/environments/vm_status/' + {{ virtual_machine.id }}, function (content) {
                //onSuccess
                jQuery("#vm_status").html(content);
                setTimeout(updateVmStatus, 20000);
            });
        })();

        jQuery(document).ready(function ($) {

            // Rickshaw
            var seriesData = [[], []];

            var random = new Rickshaw.Fixtures.RandomData(50);

            for (var i = 0; i < 90; i++) {
                random.addData(seriesData);
            }

            var graph = new Rickshaw.Graph({
                element: document.getElementById("rickshaw-chart-demo-2"),
                height: 217,
                renderer: 'area',
                stroke: false,
                preserve: true,
                series: [{
                    color: '#359ade',
                    data: seriesData[0],
                    name: 'Page Views'
                }, {
                    color: '#73c8ff',
                    data: seriesData[1],
                    name: 'Unique Users'
                }, {
                    color: '#e0f2ff',
                    data: seriesData[1],
                    name: 'Bounce Rate'
                }
                ]
            });

            graph.render();

            var hoverDetail = new Rickshaw.Graph.HoverDetail({
                graph: graph,
                xFormatter: function (x) {
                    return new Date(x * 1000).toString();
                }
            });

            var legend = new Rickshaw.Graph.Legend({
                graph: graph,
                element: document.getElementById('rickshaw-legend')
            });

            var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight({
                graph: graph,
                legend: legend
            });

            setInterval(function () {
                random.removeData(seriesData);
                random.addData(seriesData);
                graph.update();

            }, 500);

        });

        (function updateVmTasksTimeline() {
            ajaxGet('/main/app/environments/refresh_tasks/' + {{ virtual_machine.id }}, function (content) {
                //onSuccess
                jQuery("#vm_tasks").html(content);
                setTimeout(updateVmTasksTimeline, 20000);
            });
        })();

    </script>

    <link rel="stylesheet" href="{{ STATIC_URL }}app/js/vertical-timeline/css/component.css">



{% endblock %}

{% block modal %}
    {% include "app/environment/environment_destroy_modal.html" %}
{% endblock %}
