{% extends "registration/base.html" %}
{% load i18n %}
{% load form_tags %}

{% block title %}Dev Cloud - {% trans "Password Reset" %}{% endblock %}

{% block body_class %}class="login-page"{% endblock %}
{% block header_class %}class="login"{% endblock %}

{% block header %}
    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>
                    <p>{% trans "Password reset" %}</p>
                    <span class="message-line"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="login-container">
        <div class="row">
            <div class="small-12 large-7 large-centered medium-7 medium-centered columns">
                <div class="login-form">

                    <script type="text/javascript">/*<![CDATA[*/
                    $(function() {
                        $("#reset-password-form").validate({
                            rules: {
                                new_password1: { minlength: 5},
                                new_password2: { equalTo: "#id_new_password1"}
                            }
                        });
                    });
                    /*]]>*/</script>

                    {% if form.errors %}
                        <p class="error">{% trans "Sorry, that's not a valid" %}</p>
                    {% endif %}

                    <form method="post" action="" id="reset-password-form">
                        {% csrf_token %}
                        {% show_fieldsetform_nrf form %}
                        <div class="fieldset align_center">
                            <input class="button" type="submit" value="{% trans "Change my password" %}" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
