{% extends "registration/base.html" %}
{% load i18n %}
{% load form_tags %}

{% block title %}Dev Cloud - {% trans "Password Reset" %}{% endblock %}

{% block body_class %}class="login-page"{% endblock %}
{% block header_class %}class="login"{% endblock %}

{% block header %}
    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>
                    <p>{% trans "Password reset" %}</p>
                    <span class="message-line"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="login-container">
        <div class="row">
            <div class="small-12 large-7 large-centered medium-7 medium-centered columns">
                <div class="login-form">
                    <p>
                        <b>{% trans "Forgotten your password?" %}</b> </br>
                        {% trans "Enter your e-mail address below, and we&rsquo;ll reset your password and e-mail the new one to you." %}
                    </p>

                    {% if form.errors %}
                        <p class="error">{% trans "Sorry, that's not a valid" %}</p>
                    {% endif %}

                    <form method="post" action="">
                        {% csrf_token %}
                        {% show_fieldsetform_nrf form %}
                        <div class="fieldset align_center">
                            <input class="button" type="submit" value="{% trans "Reset my password" %}" />
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
