{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Error" %}{% endblock %}

{% block body_class %}class="login-page"{% endblock %}
{% block header_class %}class="login"{% endblock %}

{% block header %}
    <div class="message">
        <div class="row">
            <div class="small-12 columns">
                <div class="message-intro">
                    <span class="message-line"></span>
                    <p>{% trans "Bad token" %}</p>
                    <span class="message-line"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="login-container">
        <div class="row">
            <div class="small-12 large-7 large-centered medium-7 medium-centered columns">
                <div class="login-form">
                    <p class="error">
                        {% trans "Token is not valid. (It's either broken or used)" %}
                        <br>
                        <a href="{% url 'password_reset' %}"> {% trans "Create new token" %} </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}