{% load i18n %}
{% load form_tags %}

<div class="col-md-5">
    <div class="form-group">
        <label class="control-label" for="full_name">{% trans "Template instances" %}</label>
        <select name="template" class="selectboxit" data-first-option="false">
            <option>{% trans "Select template" %}</option>
            {% for template_name in list_of_templates %}
                <option value="{{ template_name }}" {% if template_name.cpu < template.cpu %}
                        disabled {% endif %} data-toggle="popover" data-trigger="hover" data-placement="left"
                        data-original-title="{% trans "Performance" %}"
                        data-content="
                                {% trans "CPU: " %}{{ template_name.cpu }} cores <br /> {% trans " RAM memory: " %} {{ template_name.memory }} GB <br /> {% trans "HDD space: " %} 10 GB">{{ template_name.template_name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="row">

    <table class="table table-responsive">
        <tbody>
        <tr>
            <td width="33%">
                <strong>{% trans "CPU" %}</strong>
                <br/>

                <div id="chart-CPU" style="height: 250px"></div>
            </td>
            <td width="33%">
                <strong>{% trans "RAM" %}</strong>
                <br/>

                <div id="chart-RAM" style="height: 250px"></div>
            </td>
            <td width="33%">
                <strong>{% trans "Disk space" %}</strong>
                <br/>

                <div id="chart-HDD" style="height: 250px"></div>
            </td>
        </tr>
        </tbody>
    </table>

    <input type="hidden" id="requirements" name="variable" value="{{ requirements }}" readonly/>
    <input type="hidden" id="template" name="variable" value="{{ template }}" readonly/>
    <input type="hidden" id="ip" name="public_ip" value="{{ exposed_status }}" readonly/>

</div>

<link rel="stylesheet" href="{{ STATIC_URL }}app/js/selectboxit/jquery.selectBoxIt.css">

<script src="{{ STATIC_URL }}app/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="{{ STATIC_URL }}app/js/selectboxit/jquery.selectBoxIt.min.js"></script>

